/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.vscode/
*.log
*.cache
thumbs.db
.DS_Store
*.swp
*.swo
/node_modules
/public/storage
/storage/*.key
/.vagrant