<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="D:\Program Files\PHP\v8.2\php-cgi.exe"
                      arguments="-c &quot;D:\Program Files\PHP\v8.2\php.ini&quot;"
                      stdoutLogEnabled="true"
                      stdoutLogFile="D:\Home\LogFiles\stdout"
                      startupTimeLimit="60">
        </httpPlatform>
    </system.webServer>
</configuration>